<!DOCTYPE html>
<html>
    <head>
        <title>The Generics | Store</title>
        <meta name="description" content="This is the description">
        <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script src="https://js.stripe.com/v3/" defer></script>
        <script>
           var stripePublicKey='<%= stripePublicKey %>';

        </script>
        <script src="store.js" defer></script> -->
    </head>
    <body>
        <header class="main-header">
            <!-- <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav> -->
            <h1 class="band-name band-name-large">The Generics</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">MUSIC</h2>
            <div class="shop-items" *ngFor="let music of musicArray" >
                <div class="shop-item" [attr.data-item-id]="music.id" >
                    <span class="shop-item-title" >{{music.name}}</span>
                    <img class="shop-item-image" src="./assets/Images/{{music.imgName}}">
                    <div class="shop-item-details" >
                        <span class="shop-item-price">${{music.price/100}}</span>
                        <button class="btn btn-primary shop-item-button" type="button" (click)="addToCartClicked($event)">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">MERCH</h2>
            <div class="shop-items" *ngFor="let merch of merchArray">

                    <div class="shop-item"  [attr.data-item-id]="merch.id">
                        <span class="shop-item-title">{{merch.name}}</span>
                        <img class="shop-item-image" src="./assets/Images/{{merch.imgName}}">
                        <div class="shop-item-details">
                            <span class="shop-item-price">${{merch.price/100}}</span>
                            <button class="btn btn-primary shop-item-button" type="button" (click)="addToCartClicked($event)">ADD TO CART</button>
                        </div>
                    </div>


            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
              <div class="form-row">
                <label for="card-info">Card Info</label>
                <div id="card-info" #cardInfo></div>

                <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
              </div>

              <button class="btn btn-primary btn-purchase" type="submit">PURCHASE</button>
            </form>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">The Generics</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img  src="./assets/Images/Youtube Logo.png">

                        </a>
                    </li>
                    <li>
                        <a href="https://www.spotify.com" target="_blank">
                            <img src="./assets/Images/Spotify Logo.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="./assets/Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
